$primary: #00856F;
$light-primary: #DCE9E2;
$secondary: #212529;
$light-secondary: #495057;
$light: #FFFAF1;
$white: #fff;
$gray:#F7F9F9;
$black: #000;
$dark-primary:#00453A;

$primary-secondary:rgba(0, 133, 111, 0.7);
$white-secondary:rgba(255, 255, 255, 0.7);

$container-sm: 540px;
$container-md: 720px;
$container-lg: 960px;
$container-xl: 1152px;

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1230px;